body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas#defaultCanvas0 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@font-face {
    font-family: EBGaramond;
    src: url(EBGaramond-Regular.ttf);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    font-family: EBGaramond;
    margin: 0px 0px 10px 10px;
}

::-webkit-scrollbar {
    display: none;
}
 
