body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas#defaultCanvas0 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar {
    display: none;
}
 
