body {
    background-image: url("https://thumbs.gfycat.com/BlissfulMintyHectorsdolphin-size_restricted.gif");
    background-size: cover;
}

#title {
    color: red;
    text-shadow: 5px 5px 10px red;
    font-family: 'Metal Mania', cursive;
    text-align: center;
    font-size:6vw;
    margin: 0;
}

#title:hover {
    color:rgb(154, 68, 235);
    
    background-color: white;
 
}

ul {
    font-family: 'Dynalight', cursive;
    font-size: 60px;
    text-align: center;
    background-image: url("https://images.gamebanana.com/img/ss/mods/4ee3c9c8ca1dc.jpg");
    background-size:cover;
    margin: auto;
    width: max-content;
    list-style-type:none
}

a:hover {
    color: yellow;
}

a {
    text-decoration: none;
    color: rgb(241, 197, 246);
    /* text-shadow: 0px 0px 5px rgb(242, 147, 255); */
    font-size:4vw;
}